.explore{
    &-container{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        // TODO DELETE
        height: 85vh;
        width: 100vw;
    }
}

.render{
    &-container{
        width: 99.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &-button{
        height: 60px;
        width: 150px;
        font-size: 1.15rem;
        background-color: rgba($color: #fff, $alpha: 0.35);
        color: #fff;
        border: 1px #fff solid;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover{
            background-color: rgba($color: #000000, $alpha: 0.85);
            border: 1px #000 solid;
        }
    }
}

.setup{
    &-container{
        flex: 0.3;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        overflow-y: scroll;
    }
    &-title{
        margin: auto;
        text-align: center;
    }
    &-form{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &-input{
        flex: 0.8;
        width: 1;
        border: none;
        min-height: 35px;
        background-color: rgba($color: #fff, $alpha: 0.15);
        height: 40px;
        padding: 2px;
        
        &-text{
            margin: 0px;
            font-size: 1.65rem;
        }
        &-date{
            height: fit-content;
            width: 100%;
            position: relative;
            color: #fff;

            &-container{
                width: 100%;
                float: left;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-input{
                ::placeholder{
                    color: #fff;
                }
            }
            &-icon{
                position: absolute;
                right: 0%;
                top: -15%;
            }
        }
    }
}

.input{
    &-pair{
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: 35% 55%;
        gap: 45px;
        >*{
            margin: 0px;
        }
    }
    &-label{
        flex: 0.2;
        font-size: 1.85rem;
        height: 100%;
        padding-right: 30px;
        border-right: 3px #fff solid;
    }
    &-dropdown{
        background-color: rgba($color: #fff, $alpha: 0.15);
        color: #fff;
        font-size: 1.1rem;

        &-option{
            background: var(--highlight);
            font-size: 1rem;
            color: #000;
            border-bottom: #fff solid 1px;
        }
    }
}

.series{
    &-container{
        width: 100%;
        height: fit-content;
        max-height: 50px;
        margin-top: 15px;
        background-color: rgba($color: #000000, $alpha: 0.35);
        transition: all 1s ease;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    &-show{
        max-height: 600px;
        padding-bottom: 150px;
    }

    &-dropdown{
        cursor: pointer;
        font-size: 2rem;
    }
    &-colorIndicator{
        height: 50%;
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: var(--bg-color);
    }
    &-heading{
        &-item{
            margin-left: 15px;
        }
        &-container{
            background-color: #000;
            height: 50px;
            width: 100%;
            margin: 0px;
            border: 1px #000 solid;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}

.color{
    &-selector{
        position: relative;
    }

    &-swatch{
        height: 35px;
        aspect-ratio: 1/1;
        background-color: var(--color);
        border-radius: 10px;
        margin: auto;
        cursor: pointer;
    }

    &-options{
        overflow: hidden;
        height: 0px;
        width: 0px;
        background-color: rgba($color: #000000, $alpha: 0.85);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        &-show{
            height: 85px;
            width: 175px;
        }
    }
}

.highlight{
    border: 2px #000 solid;
}

.hidden{
    display: none;
}

.graph{
    &-container{
        flex: 0.7;
        height: 100%;
        width: 100%;
    }
    &-main{
        height: 100%;
    }
}

.loading{
    &-container{
        height: 500px;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.35);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-wheel{
        height: 50px;
        width: 50px;
        border: rgba($color: #000000, $alpha: 0) 10px solid;
        border-top: var(--highlight) 10px solid;
        border-radius: 100%;

        animation: spinWheel 1s ease infinite;
    }
}

#keywordInput{
    font-size: 1rem;
    color: #fff;
    height: fit-content;
    min-height: 35px;
    overflow-y: auto;
}

#errorLink{
    text-decoration: underline;
}

@media screen and (max-width: 1500px){
    .setup{
        &-container{
            flex: 0.35;
        }
    }
    .input{
        &-pair{
            grid-template-columns: 30% 65%;
            gap: 45px;
        }
        &-label{
            font-size: 1.45rem;
        }
    }
    .graph{
        &-container{
            flex: 0.65;
        }
    }
    
}

@keyframes spinWheel {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}