<div class="graph-container">
    <div class="graph-explore-container">
        <app-explore-bar></app-explore-bar>
    </div>
    
    <div class="graph-title-container">
        <h1 class="graph-title-text">{{ category }} for all outlets</h1>
    </div>
    
    <div class="graph-display-container">
        <div class="graph-display-loading-container" id="loadWheel">
            <app-loading-wheel></app-loading-wheel>
        </div>
        <canvas baseChart width="100%" height="30"
                [data]="chartData"
                [options]="chartConfig"
                [type]="chartType">
        </canvas>
    </div>
</div>