.container{
    position: absolute;
    top: 10%;
    left: 0px;
    width: 100%;
    height: 90%;
}

.explore{
    &-container{
        width: 50%;
        margin: auto; 
        margin-top: 10px;
    }
}

.title{
    &-container{
        width: fit-content;
        margin: auto;
        margin-top: 70px;
    }
    &-text{
        font-size: 3rem;
        font-weight: 400;
        color: #03045e;
    }
}
.display{
    &-container{
        width: 85%;
        height: 600px;
        margin: auto;
        margin-top: 20px;
    }

    &-loading{
        &-container{
            width: 100px;
            height: 100px;
            margin: auto;
            margin-top: 40px;
        }
    }
}

.text{
    &-container{
        width: 75%;
        margin: auto;
        margin-top: -100px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5%;
        padding-bottom: 100px;
    }
    
    &-category{
        &-name{
            margin-top: 20px;
        }
        &-container{
            padding-bottom: 40px;
            border-radius: 15px;
            width: 45%;
            background-color: #C9CAD9;
            margin-top: 50px;
            
        }
        
    }
    
    &-items{
        &-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5%;
            margin-top: -10px;
        }
    }
    
    &-break{
        height: 40px;
        width: 100%;
    }
    
    &-item{
        &-container{
            margin-top: 15px;
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
            width: 250px;
            height: fit-content;
            background-color: #7796CB;
            box-shadow: #9d9da8 5px 5px 2.5px;
        }
        &-heading{
            font-weight: 500;
            margin: 0px;
            margin-top: 0px;
        }
        &-content{
            font-size: 2rem;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

mat-slider {
    width: 100%
}
.bar{
    &-container{
        width: 95%;
        height: fit-content;
        margin: auto;
        background-color: #C9CAD9;
        padding-top: 10px;
        margin-top: 10px;
        padding-bottom: 100px;
        border-radius: 15px;
    }
    &-multiplier{
        &-container{
            width: 15%;
            margin: auto;
            margin-top: 5px;
            text-align: center;
        }

    }

    &-scale{
        &-container{
            width: 30%;
            margin: auto;
            margin-top: 0px;
        }
        &-gradient{
            width: 100%;
            height: 30px;
            border-radius: 50px;
            
        }
        &-text{
            &-container{
                width: 100%;
                height: 30px;
                display: flex;
            }
            &-min{
                flex-grow: 1;
            }
        }
    }

    &-row{
        &-container{
            width: 99%;
            height: 50px;
            margin: auto;
            margin-top: 5px;
            display: flex;
            flex-direction: row;
            gap: 1px;
            justify-content: center;
        }

        &-dates{
            margin-left: 20px;
        }

        &-box{
            position: relative;
            height: 50px;
            width: 100px;
            flex: 0.1;
            z-index: 2 !important;
            background-color: #fff;
            text-align: center;
            transition: all 0.75s ease;

            &:hover{
                :first-child{
                    display: block;
                }
            }
            &-info{
                transition: all 0.75s;
                background-color: #C9CAD9;
                height: 100%;
                width: 100%;
                line-height: 5px;
                text-align: center;
                font-size: 0.75rem;
            }
        }
        
        &-heading{
            background-color: #7796CB;
            z-index: 3;
            width: 100px;
            text-align: center;
            max-width: 25px;
            flex: 1;
            height: 50px;
        }
        &-text{
            font-size: 0.75rem;
            line-height: 10px;
            margin-top: 2px;
        }
    }
}

.hidden{
    display: none;
}


.greenRedScale{
    background: linear-gradient(to right, #ff0000, #ffff, #00ff00);
}

.blackWhiteScale{
    background: linear-gradient(to right, #000, #ffff);
}