<div class="container">
    <div class="explore-container">
        <app-explore-bar></app-explore-bar>
    </div>
    
    <div class="title-container">
        <h1 class="title-text">{{ category }}</h1>
    </div>
    
    <div class="display-container">
        <div class="display-loading-container" id="loadWheel">
            <app-loading-wheel></app-loading-wheel>
        </div>
        <canvas baseChart width="100%" height="30"
                [data]="finalChartData"
                [options]="chartConfig"
                [type]="chartType">
        </canvas>
    </div>

    <div class="text-container">
        <div class="text-category-container" *ngFor="let topic of textDataArray">
            <h1 class="text-category-name">{{ topic["name"] }}</h1>
            <div class="text-items-container">
                <div class="text-item-container">
                    <h2 class="text-item-heading">The average sentiment was</h2>
                    <h1 class="text-item-content">{{ topic["avgSentiment"] }}</h1>
                </div>
                <div class="text-item-container">
                    <h2 class="text-item-heading">The daily average article output was</h2>
                    <h1 class="text-item-content">{{ topic["avgCount"] }}</h1>
                </div>
                
                <div class="text-break"></div>

                <div class="text-item-container">
                    <h2 class="text-item-heading">The most negative day was</h2>
                    <h1 class="text-item-content">{{ topic["minScoreDay"] | date}}</h1>
                    <h2 class="text-item-heading">Scoring</h2>
                    <h1 class="text-item-content">{{ topic["minScore"] }}</h1>
                </div>
                <div class="text-item-container">
                    <h2 class="text-item-heading">The most positive day was</h2>
                    <h1 class="text-item-content">{{ topic["maxScoreDay"] | date}}</h1>
                    <h2 class="text-item-heading">Scoring</h2>
                    <h1 class="text-item-content">{{ topic["maxScore"] }}</h1>
                </div>
                <div class="text-item-container">
                    <h2 class="text-item-heading">The most publicised day was</h2>
                    <h1 class="text-item-content">{{ topic["maxCountDay"] | date}}</h1>
                    <h2 class="text-item-heading">Scoring</h2>
                    <h1 class="text-item-content">{{ topic["maxCount"] }}</h1>
                </div>
                <div class="text-item-container">
                    <h2 class="text-item-heading">The least publicised day was</h2>
                    <h1 class="text-item-content">{{ topic["minCountDay"] | date}}</h1>
                    <h2 class="text-item-heading">Scoring</h2>
                    <h1 class="text-item-content">{{ topic["minCount"] }}</h1>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bar-container hidden" id="barContainer">
        <div class="bar-multiplier-container">
            <h1 class="bar-multiplier-text">Multiplier Val:</h1>
            <mat-slider
                thumbLabel
                min="1"
                step="0.1"
                max="10"
                [(value)]="mutiplierValue"
                (valueChange)="renderBoxColors()"
            ></mat-slider>
        </div>

        <div class="bar-scale-container">
            <div class="bar-scale-gradient" id="barGradient"></div>
            <div class="bar-scale-text-container">
                <h2 class="bar-scale-text-min">{{ minBarVal }}</h2>
                <h2 class="bar-scale-text-max">{{ maxBarVal }}</h2>
            </div>
        </div>

        <div *ngFor="let rowData of barData; let first = first">
            <div class="bar-row-dates" *ngIf="first">
                <div class="bar-row-container" *ngIf="rowData['dateList'].length < 30">
                    <div class="bar-row-box" *ngFor="let date of rowData['dateList']">
                        <p>{{ date }}</p>
                    </div>
                </div>
            </div>
        </div>

         <div class="bar-row-container" *ngFor="let rowData of barData">
             <div class="bar-row-heading bar-row-box">
                 <h1 class="bar-row-text">{{ rowData["title"]}}</h1>
            </div>
            <div class="bar-row-box Databox" *ngFor="let val of rowData['valList']; let index = index" id="{{ val }}">
                <div class="bar-row-box-info hidden" id="{{ val }}Info">
                    <p>{{ val | number}}<br>{{ rowData["dateList"][index]}}<br>{{ rowData["title"]}}</p>
                </div>
            </div>
         </div>
    </div>
    
</div>