.search{
    &-container{
        width: 100%;
        height: 90%;
        position: absolute;
        top: 10%;
        left: 0%;
    }
}

.title{
    &-container{
        width: fit-content;
        margin: auto;
        margin-top: 35px;
    }
    &-text{
        font-size: 5rem;
        color: #4361ee;
    }
}

.sort{
    &-container{
        background-color: #4361ee;
        width: 45%;
        margin: auto;
        margin-top: 75px;
        display: flex;
        flex-direction: row;
        gap: 15px;

        border-radius: 15px;
        box-shadow: #b8b9ce 10px 10px 5px;
    }
    
    &-text{
        margin-top: 20px;
        margin-left: 20px;
    }
    &-category{
        &-container{
            margin-top: -10px;
        }
    }
    &-submit{
        margin-left: 30px;
        margin-top: 17px;
        height: 40px;
        width: 100px;
        background-color: #80ffdb;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.75s ease;
        &:hover{
            box-shadow: #2842b8 10px 10px 5px;
            transform: translate(-5px, -5px);

        }
    }
}

.results{
    &-container{
        width: 85%;
        height: 80%;
        margin: auto;
        margin-top: 75px;
        display: flex;
        flex-direction: column;
    }
    
    &-item{
        width: 100%;
        height: 200px;
        background-color: #4361ee;
        border-radius: 15px;
        margin-bottom: 15px;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        box-shadow: #b8b9ce 10px 10px 5px;
        
        &-outletName{
            margin-top: 5px;
            margin-left: 15px;
            margin-bottom: 0px;
            padding-bottom: 0px;
            width: fit-content;
            text-align: center;
        }
        
        &-text{
            margin-left: 15px;
            margin-top: 10px;
            font-size: 1rem;
        }

        &-link{
            text-decoration: none;
            color: #000;
            cursor: pointer;
        }
        
        &-content-container{
            margin-top: 0px;
            display: flex;
            flex-direction: row;
            height: 95%;
        }
        &-headline{
            font-size: 1rem;
            font-weight: 500;
            margin-top: 0px;
            max-width: 45%;
        }

        &-author{
            font-weight: 250;
            font-style: italic;
            max-width: 10%;
            margin-top: -10px;
        }

        &-description{
            width: 30%;
            height: 90%;
            margin-top: -10px;
        }

        &-sentiment{
            &-value{
                font-size: 2rem;
                font-weight: 500;
                margin-top: 7px;
            }
            
            &-container{
                position: absolute;
                top: 25%;
                right: 5%;
                height: 45px;
                width: fit-content;
                justify-content: right;
                text-align: center;
            }
        }
        
    }
    &-more{
        &-container{
            width: 25%;
            margin: auto;
            margin-top: 50px;
            padding-bottom: 100px;
        }
        &-button{
            width: 100%;
            height: 50px;
            border-radius: 15px;
            background-color: #80ffdb;
            border: none;
            cursor: pointer;
            transition: all 0.75s ease;

            &:hover{
                box-shadow: #9797b3 10px 10px 5px;
                transform: translate(-5px, -5px);
            }
        }
    }
}  

@media screen and (max-width: 1400px){
    .sort{
        &-container{
            width: 70%;
        }
    }
}