<div class="search-container">
    <div class="title-container">
        <h1 class="title-text">Results for "{{ searchString }}"</h1>
    </div>

    <div class="results-container">
        <div class="results-item" *ngFor="let article of responseList">
            <span>
                <h3 class="results-item-outletName">{{ article["outletName"] }} - {{ article["publishDate"] | date}}</h3>
            </span>
            <div class="results-item-content-container">
                <h2 class="results-item-headline results-item-text">{{ article["headline"] }}</h2>
                <p class="results-item-author results-item-text" *ngIf="article['author']">{{ article["author"] }}</p>
                <p class="results-item-description results-item-text" >{{ article["description"]}}</p>
                <div class="results-item-sentiment-container">
                    <h1 class="results-item-sentiment-value" style="background-color: {{getDialColor(article['sentimentScore'])}}"> {{ article["sentimentScore"] |number}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>