<div class="menu-container">
    <div class="logo-container menu-item" >
        <a href="/">
            <img src="../../../../assets/They Speak For Us Logo.png" alt="logo">
        </a>
    </div>
    <div class="menu-item center-children" [ngClass]="{'active': url=='explore'}">
        <a href="/explore">
            <h3 class="menu-text underline">Explore</h3>
        </a>
    </div>
    <div class="menu-item center-children" [ngClass]="{'active': url=='about'}">
        <a href="/explore">
            <h3 class="menu-text underline">About</h3>
        </a>
    </div>
    <div class="menu-item center-children" [ngClass]="{'active': url=='blog'}">
        <a href="/blog">
            <h3 class="menu-text underline">Blog</h3>
        </a>
    </div>
</div>