.menu{
    &-container{
        width: calc(100vw - 3px);
        height: 10vh;
        max-height: 75px;
        margin: 0px;

        background-color: rgba($color: #000, $alpha: 0.25);
        border-top: 1px #000 solid;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-item{
        cursor: pointer;
        width: calc(40vw / 4);
        height: 100%;
        border-right: 1px #000 solid;
        border-bottom: 1px #000 solid;
    }
}

.active{
    background-color: var(--page-bg);
    border-bottom: 0px #000 solid;
}