<div class="menu-container">
    <div class="logo-container menu-item" >
        <a href="They-Speak-for-Us/">
            <img src="https://i.ibb.co/D8zSfq2/They-Speak-For-Us-Logo.png" alt="logo">
        </a>
    </div>
    <div class="menu-item center-children" [ngClass]="{'active': url=='explore'}">
        <a href="They-Speak-for-Us/explore">
            <h3 class="menu-text underline">Explore</h3>
        </a>
    </div>
    <div class="menu-item center-children" [ngClass]="{'active': url=='about'}">
        <a href="They-Speak-for-Us/explore">
            <h3 class="menu-text underline">About</h3>
        </a>
    </div>
    <div class="menu-item center-children" [ngClass]="{'active': url=='blog'}">
        <a href="They-Speak-for-Us/blog">
            <h3 class="menu-text underline">Blog</h3>
        </a>
    </div>
</div>