.explore{
    &-container{
        z-index: 2;
        //animation:slide-in-elliptic-top-fwd 1s 2s both;
        width: 100%;
        height: 57px;

        overflow-y: hidden;

        margin: auto;

        
        transition: all 0.75s ease;
        
        background-color: #4361ee;
        border-radius: 45px;
    }
    
    &-large{
        &-container{
            display: flex;
            flex-direction: row;
            vertical-align: super;            
        }
    }

    &-input{
        width: 100%;
        height: 30px;
        margin-left: 2%;
        background-color: #A3BCF9;
        border: none;
        border-radius: 5px;
    }

    &-text{
        font-size: 1.5rem;
        margin-top: 15%;
        color: #001845;
        
        &-container{
            margin-right: 1%;
            margin-left: 2%;
        }
    }

    &-date{
        &-container{
            width: 20%;
        }
        &-field{
            width: 100%;
        }
    }

    &-go{
        &-container{
            margin-left: 5%;
            height: 100%;
        }
        &-button{
            margin-top: 10%;
            border: none;
            background-color: #80ffdb;
            height: 40px;
            width: 100px;
            transition: all 0.75s ease;
            border-radius: 10px;
            &:hover{
                cursor: pointer;
                transform: translate(-5px, -5px);
                box-shadow:  #2842b8 10px 10px 5px;
            }
        }
    }

    &-expand{
        &-container{
            margin-left: 30px;
            margin-top: 20px;
        }
        &-icon{
            cursor: pointer;
            transform: scale(1.5);
        }
    }

    // Advanced options CSS
    &-lower-container{
        height: 100%;
        width: 100%;
        margin-top: 0px;
    }
    
    &-title{
        &-container{
            margin-left: 2%;
        }
    }
    
    &-topic{
        &-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 3%;
        }
        &-item{
            width: 100%;
            display: flex;
            flex-direction: row;
        }
    }

    &-outlet{
        &-selector{
            margin-left: 10px;
            margin-top: -13px;
        }
    }

    &-headline{
        &-container{
            margin-left: 2%;
            width: 37%;
            display: flex;
            flex-direction: row;
        }
    }

    &-name{
        &-container{
            margin-left: 2px;
            width: 300px; 
            display: flex;
            flex-direction: row;
        }
        &-input{
            width: 40%;
        }
    }

    &-add, &-delete{
        &-button{
            margin-left: 1%;
            border: none;
            background-color: #4361ee;
            height: 35px;
            width: fit-content;
            cursor: pointer;
        }
    }
    &-add-button{
        margin-right: 4%;
    }

}

mat-datepicker{
    accent-color: black;
}

.forText{
    margin-top: 30%;   
}

.expand{
    height: 300px;
}

.addScroll{
    height: 400px;
    overflow-y: scroll;
}

@media screen and (max-width: 1000px){
    .explore{
        &-outlet{
            &-selector{
                width: 10%;
            }
        }
    }
}
@media screen and (max-width: 750px){
    .explore{
        &-container{
            *{
                margin-left: 0px;
            }
        }
        &-outlet{
            &-selector{
                width: 10%;
            }
        }
        &-add-button{
            margin-right: 0px;
        }
    }
}