.load{
    &-wheel{
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        margin: auto;
        border-radius: 50%;

        border: 16px solid #D1D2F9; /* Light grey */
        border-top: 16px solid #4361ee; /* Blue */
        animation: spin 1.25s infinite;
    }
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}