@font-face {
    font-family: oxygen-regular;
    src: url("assets/fonts/oxygen/Oxygen-Regular.ttf");
}

*{
    font-family: oxygen-regular;
    margin: 0px;
}

body{
    background-color: #D1D2F9;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
