<div class="footer-container">
    <div class="footer-item logo-container center-children">
        <img src="../../../../assets/They Speak For Us Logo.png" alt="" class="logo-img">
    </div>
    <div class="footer-item copyright">
        <p>Copyright © 2022 Gabriel Hanich</p>
    </div>
    <div class="footer-item linktree">
        <h4  class="linktree-heading">Site Map</h4>
        <ul class="linktree-list">
            <li class="linktree-item underline">
                <a href="/">Home</a>
            </li>
            <li class="linktree-item underline">
                <a href="/">Data Explorer</a>
            </li>
            <li class="linktree-item underline">
                <a href="/">About</a>
            </li>
            <li class="linktree-item underline">
                <a href="/">Blog</a>
            </li>
        </ul>
    </div>
    <div class="footer-item center-children socials">
        <a href="https://github.com/gabriel-hanich/they-speak-for-us" target="_blank" class="socials-link">
            <fa-icon [icon]="githubIco" class="socials-ico"></fa-icon>
        </a>
        <a href="https://medium.com/@GabeOntheInternet" target="_blank" class="socials-link">
            <fa-icon [icon]="mediumIco" class="socials-ico"></fa-icon>
        </a>
    </div>
</div>