.home{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    
}

.heading{
    &-container{
        z-index: 3;
        width: fit-content;
        height: fit-content;
        text-align: center;
        margin: auto;
        margin-top: 25px;
        transition: all 0.75s ease;
        box-shadow: #A3BCF9 10px 10px 5px;
        animation:scale-in-center 2s cubic-bezier(.25,.46,.45,.94) both;
    }
    
    &-text{
        text-align: center;
        word-wrap: break-word;
        line-height: normal;

        font-size: 6rem;
        letter-spacing: 2px;

        background: #8E2DE2;
        background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
        background: linear-gradient(to right, #4A00E0, #8E2DE2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        

    }
}



@keyframes slide-in-elliptic-top-fwd{0%{transform:translateY(-600px) rotateX(-30deg) scale(0);transform-origin:50% 100%;opacity:0}100%{transform:translateY(0) rotateX(0) scale(1);transform-origin:50% 1400px;opacity:1}}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}